python-dotenv

langchain
langchain-core
langchain-community



## llm providers
langchain-groq
langchain-text-splitters 


## vector stores
faiss-cpu

#notebook
jupyter
ipykernel

#web framework
streamlit

